In [ ]:
import pandas as pd

In [ ]:
ProposalPaymentDetails = pd.read_excel('/content/drive/MyDrive/4th_Year/DSC4996/04_ProposalPaymentDetails_31102021.xlsx')
ProposalPaymentDetails.head()

In [ ]:
IndividualPolicyWithRiders = pd.read_excel('/content/drive/MyDrive/4th_Year/DSC4996/05_Individual Policy with riders.xls')
IndividualPolicyWithRiders.head()

In [ ]:
ClaimPaymentRequestionData = pd.read_excel('/content/drive/MyDrive/4th_Year/DSC4996/07_Claim-Payment_Requestion data (NLP for Claims 1).xlsx')
ClaimPaymentRequestionData.head()

In [ ]:
RIDERS = pd.read_excel('/content/drive/MyDrive/4th_Year/DSC4996/10_RIDERS.xlsx')
RIDERS.head()

  LOOKUPCODE        DESCRIPTION
0      ACCID  PERSONAL ACCIDENT
1      BASIC        BASIC COVER
2      CRITL   CRITICAL ILLNESS
3     DENTAL     DENTAL SURGERY
4      FUNEX   FUNERAL EXPENSES

In [ ]:
print('# # # # # # # # # # ProposalPaymentDetails # # # # # # # # # #')
print('\n')
print(ProposalPaymentDetails.info())
print('\n'*2)

print('# # # # # # # # # # IndividualPolicyWithRiders # # # # # # # # # #')
print('\n')
print(IndividualPolicyWithRiders.info())
print('\n'*2)

print('# # # # # # # # # # ClaimPaymentRequestionData # # # # # # # # # #')
print('\n')
print(ClaimPaymentRequestionData.info())
print('\n'*2)

print('# # # # # # # # # # RIDERS # # # # # # # # # #')
print('\n')
print(RIDERS.info())

# # # # # # # # # # ProposalPaymentDetails # # # # # # # # # #


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38308 entries, 0 to 38307
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ProposalID           38308 non-null  int64
 1   PolicyNo             33237 non-null  object
 2   Plan                 38308 non-null  object
 3   PolicyTerm           38308 non-null  int64
 4   PremiumTerm          38308 non-null  int64
 5   PaymentFrequency     38308 non-null  int64
 6   PaymentPaidBy        38291 non-null  object
 7   Others               1772 non-null   object
 8   ModeOfCommunication  38308 non-null  object
 9   PreferredReceipt     38291 non-null  object
 10  PreferredLanguage    38308 non-null  object
dtypes: int64(4), object(7)
memory usage: 3.2+ MB
None



# # # # # # # # # # IndividualPolicyWithRiders # # # # # # # # # #


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25088 entries, 0 to 25087
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   DOCUMENTNO              25088 non-null  object
 1   NATUREOFBUSINESS        23243 non-null  object
 2   COMMENCEDATE            25088 non-null  object
 3   EXPIRYDATE              25088 non-null  object
 4   PREMIUMAMOUNT           25088 non-null  float64
 5   FOREIGNPREMIUMAMOUNT    25088 non-null  float64
 6   TYPE                    25088 non-null  object
 7   SUMINSURED              25088 non-null  float64
 8   PREMIUMAMOUNT_1         25088 non-null  float64
 9   FOREIGNPREMIUMAMOUNT_1  25088 non-null  float64
 10  CASHLESSOPTION          1235 non-null   object
dtypes: float64(5), object(6)
memory usage: 2.1+ MB
None



# # # # # # # # # # ClaimPaymentRequestionData # # # # # # # # # #


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65536 entries, 0 to 65535
Data columns (total 23 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ADDRESS1            65533 non-null  object
 1   ADDRESS2            54971 non-null  object
 2   DOCUMENTNO          65536 non-null  object
 3   EFFECTIVEFROM       57344 non-null  object
 4   EFFECTIVETO         57344 non-null  object
 5   EXPIRYDATE          65536 non-null  object
 6   LASTPAYMENTDATE     65475 non-null  object
 7   STATUS              65536 non-null  object
 8   ACCIDENTDATE        65536 non-null  object
 9   ACCIDENTTIME        65529 non-null  object
 10  SUMINSURED          65536 non-null  float64
 11  REGISTRATIONNUMBER  0 non-null      float64
 12  PLACEOFLOSS         3629 non-null   object
 13  CLAIMNATURE         65536 non-null  object
 14  PLACEOFINSPECTION   0 non-null      float64
 15  DOCTORNAME          1579 non-null   object
 16  DATEOFDISCHARGE     10593 non-null  object
 17  PATIENTNAME         5933 non-null   object
 18  RELATIONSHIP        309 non-null    object
 19  CASHPLANPERDAY      65536 non-null  int64
 20  CLAIMANTAMOUNT      65536 non-null  int64
 21  TREATYNATURE        0 non-null      float64
 22  TREATYTYPE          0 non-null      float64
dtypes: float64(5), int64(2), object(16)
memory usage: 11.5+ MB
None



# # # # # # # # # # RIDERS # # # # # # # # # #


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LOOKUPCODE   30 non-null     object
 1   DESCRIPTION  30 non-null     object
dtypes: object(2)
memory usage: 608.0+ bytes
None

In [ ]:
print('# # # # # # # # # # ProposalPaymentDetails # # # # # # # # # #')
print('\n')
print(ProposalPaymentDetails.isna().sum())
print('\n'*2)

print('# # # # # # # # # # IndividualPolicyWithRiders # # # # # # # # # #')
print('\n')
print(IndividualPolicyWithRiders.isna().sum())
print('\n'*2)

print('# # # # # # # # # # ClaimPaymentRequestionData # # # # # # # # # #')
print('\n')
print(ClaimPaymentRequestionData.isna().sum())
print('\n'*2)

print('# # # # # # # # # # RIDERS # # # # # # # # # #')
print('\n')
print(RIDERS.isna().sum())

# # # # # # # # # # ProposalPaymentDetails # # # # # # # # # #


ProposalID                 0
PolicyNo                5071
Plan                       0
PolicyTerm                 0
PremiumTerm                0
PaymentFrequency           0
PaymentPaidBy             17
Others                 36536
ModeOfCommunication        0
PreferredReceipt          17
PreferredLanguage          0
dtype: int64



# # # # # # # # # # IndividualPolicyWithRiders # # # # # # # # # #


DOCUMENTNO                    0
NATUREOFBUSINESS           1845
COMMENCEDATE                  0
EXPIRYDATE                    0
PREMIUMAMOUNT                 0
FOREIGNPREMIUMAMOUNT          0
TYPE                          0
SUMINSURED                    0
PREMIUMAMOUNT_1               0
FOREIGNPREMIUMAMOUNT_1        0
CASHLESSOPTION            23853
dtype: int64



# # # # # # # # # # ClaimPaymentRequestionData # # # # # # # # # #


ADDRESS1                  3
ADDRESS2              10565
DOCUMENTNO                0
EFFECTIVEFROM          8192
EFFECTIVETO            8192
EXPIRYDATE                0
LASTPAYMENTDATE          61
STATUS                    0
ACCIDENTDATE              0
ACCIDENTTIME              7
SUMINSURED                0
REGISTRATIONNUMBER    65536
PLACEOFLOSS           61907
CLAIMNATURE               0
PLACEOFINSPECTION     65536
DOCTORNAME            63957
DATEOFDISCHARGE       54943
PATIENTNAME           59603
RELATIONSHIP          65227
CASHPLANPERDAY            0
CLAIMANTAMOUNT            0
TREATYNATURE          65536
TREATYTYPE            65536
dtype: int64



# # # # # # # # # # RIDERS # # # # # # # # # #


LOOKUPCODE     0
DESCRIPTION    0
dtype: int64

In [ ]:
ProposalPaymentDetails.dropna(subset=['PolicyNo'], inplace=True)

In [ ]:
ClaimPaymentRequestionData.rename(columns={"DOCUMENTNO": "PolicyNo"}, inplace = True)
IndividualPolicyWithRiders.rename(columns={"DOCUMENTNO": "PolicyNo"}, inplace = True)
RIDERS.rename(columns={"LOOKUPCODE": "TYPE"}, inplace = True)

In [ ]:
ClaimPaymentRequestionData['PolicyNo'] = ClaimPaymentRequestionData['PolicyNo'].apply(lambda x: '-'.join(x.replace(' ','').split('-')[0:2]))
IndividualPolicyWithRiders['PolicyNo'] = IndividualPolicyWithRiders['PolicyNo'].apply(lambda x: '-'.join(x.replace(' ','').split('-')[0:2]))
ProposalPaymentDetails['PolicyNo'] = ProposalPaymentDetails['PolicyNo'].apply(lambda x: '-'.join(x.replace(' ','').split('-')[0:2]))
RIDERS['TYPE'] = RIDERS['TYPE'].apply(lambda x: x.replace(' ', ''))

In [ ]:
result = pd.merge(IndividualPolicyWithRiders, ClaimPaymentRequestionData, how="outer", on=["PolicyNo"])
df = pd.merge(result, ProposalPaymentDetails, how="outer", on=["PolicyNo"])

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118384 entries, 0 to 118383
Data columns (total 43 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   PolicyNo                118384 non-null  object
 1   NATUREOFBUSINESS        23496 non-null   object
 2   COMMENCEDATE            25341 non-null   object
 3   EXPIRYDATE_x            25341 non-null   object
 4   PREMIUMAMOUNT           25341 non-null   float64
 5   FOREIGNPREMIUMAMOUNT    25341 non-null   float64
 6   TYPE                    25341 non-null   object
 7   SUMINSURED_x            25341 non-null   float64
 8   PREMIUMAMOUNT_1         25341 non-null   float64
 9   FOREIGNPREMIUMAMOUNT_1  25341 non-null   float64
 10  CASHLESSOPTION          1274 non-null    object
 11  ADDRESS1                66026 non-null   object
 12  ADDRESS2                55447 non-null   object
 13  EFFECTIVEFROM           57641 non-null   object
 14  EFFECTIVETO             57641 non-null   object
 15  EXPIRYDATE_y            66029 non-null   object
 16  LASTPAYMENTDATE         65968 non-null   object
 17  STATUS                  66029 non-null   object
 18  ACCIDENTDATE            66029 non-null   object
 19  ACCIDENTTIME            66022 non-null   object
 20  SUMINSURED_y            66029 non-null   float64
 21  REGISTRATIONNUMBER      0 non-null       float64
 22  PLACEOFLOSS             3909 non-null    object
 23  CLAIMNATURE             66029 non-null   object
 24  PLACEOFINSPECTION       0 non-null       float64
 25  DOCTORNAME              1617 non-null    object
 26  DATEOFDISCHARGE         11030 non-null   object
 27  PATIENTNAME             6309 non-null    object
 28  RELATIONSHIP            323 non-null     object
 29  CASHPLANPERDAY          66029 non-null   float64
 30  CLAIMANTAMOUNT          66029 non-null   float64
 31  TREATYNATURE            0 non-null       float64
 32  TREATYTYPE              0 non-null       float64
 33  ProposalID              47058 non-null   float64
 34  Plan                    47058 non-null   object
 35  PolicyTerm              47058 non-null   float64
 36  PremiumTerm             47058 non-null   float64
 37  PaymentFrequency        47058 non-null   float64
 38  PaymentPaidBy           46980 non-null   object
 39  Others                  2510 non-null    object
 40  ModeOfCommunication     47058 non-null   object
 41  PreferredReceipt        46980 non-null   object
 42  PreferredLanguage       47058 non-null   object
dtypes: float64(16), object(27)
memory usage: 39.7+ MB

In [ ]:
df = df[['PolicyNo', 'ADDRESS1', 'ADDRESS2', 'EFFECTIVEFROM', 'EFFECTIVETO', 'EXPIRYDATE_x', 'LASTPAYMENTDATE', 'STATUS', 'SUMINSURED_x', 'NATUREOFBUSINESS', 'PREMIUMAMOUNT',
         'TYPE', 'PremiumTerm', 'PaymentFrequency']]

df.rename(columns={"EXPIRYDATE_x" : "EXPIRYDATE", "SUMINSURED_x" : "SUMINSURED"}, inplace = True)

<ipython-input-38-b2c65b606e39>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"EXPIRYDATE_x" : "EXPIRYDATE", "SUMINSURED_x" : "SUMINSURED"}, inplace = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118384 entries, 0 to 118383
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PolicyNo          118384 non-null  object
 1   ADDRESS1          66026 non-null   object
 2   ADDRESS2          55447 non-null   object
 3   EFFECTIVEFROM     57641 non-null   object
 4   EFFECTIVETO       57641 non-null   object
 5   EXPIRYDATE        25341 non-null   object
 6   LASTPAYMENTDATE   65968 non-null   object
 7   STATUS            66029 non-null   object
 8   SUMINSURED        25341 non-null   float64
 9   NATUREOFBUSINESS  23496 non-null   object
 10  PREMIUMAMOUNT     25341 non-null   float64
 11  TYPE              25341 non-null   object
 12  PremiumTerm       47058 non-null   float64
 13  PaymentFrequency  47058 non-null   float64
dtypes: float64(4), object(10)
memory usage: 13.5+ MB

In [ ]:
df.isna().sum()

PolicyNo                0
ADDRESS1            52358
ADDRESS2            62937
EFFECTIVEFROM       60743
EFFECTIVETO         60743
EXPIRYDATE          93043
LASTPAYMENTDATE     52416
STATUS              52355
SUMINSURED          93043
NATUREOFBUSINESS    94888
PREMIUMAMOUNT       93043
TYPE                93043
PremiumTerm         71326
PaymentFrequency    71326
dtype: int64

In [ ]:
df.shape

(118384, 14)

In [ ]:
df.dropna(subset=['TYPE'], inplace=True)
df['TYPE'] = df['TYPE'].apply(lambda x: x.replace('_R1','').replace(' ',''))

In [ ]:
df.isna().sum()

PolicyNo                0
ADDRESS1            24738
ADDRESS2            24759
EFFECTIVEFROM       24980
EFFECTIVETO         24980
EXPIRYDATE              0
LASTPAYMENTDATE     24738
STATUS              24738
SUMINSURED              0
NATUREOFBUSINESS     1845
PREMIUMAMOUNT           0
TYPE                    0
PremiumTerm          6031
PaymentFrequency     6031
dtype: int64

In [ ]:
df = pd.merge(df, RIDERS, how="left", on="TYPE")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25341 entries, 0 to 25340
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PolicyNo          25341 non-null  object
 1   ADDRESS1          603 non-null    object
 2   ADDRESS2          582 non-null    object
 3   EFFECTIVEFROM     361 non-null    object
 4   EFFECTIVETO       361 non-null    object
 5   EXPIRYDATE        25341 non-null  object
 6   LASTPAYMENTDATE   603 non-null    object
 7   STATUS            603 non-null    object
 8   SUMINSURED        25341 non-null  float64
 9   NATUREOFBUSINESS  23496 non-null  object
 10  PREMIUMAMOUNT     25341 non-null  float64
 11  TYPE              25341 non-null  object
 12  PremiumTerm       19310 non-null  float64
 13  PaymentFrequency  19310 non-null  float64
 14  DESCRIPTION       22392 non-null  object
dtypes: float64(4), object(11)
memory usage: 3.1+ MB

In [ ]:
df.isna().sum()

PolicyNo                0
ADDRESS1            24738
ADDRESS2            24759
EFFECTIVEFROM       24980
EFFECTIVETO         24980
EXPIRYDATE              0
LASTPAYMENTDATE     24738
STATUS              24738
SUMINSURED              0
NATUREOFBUSINESS     1845
PREMIUMAMOUNT           0
TYPE                    0
PremiumTerm          6031
PaymentFrequency     6031
DESCRIPTION          2949
dtype: int64

In [ ]:
df.dropna(subset=['DESCRIPTION'], inplace=True)
df = df[['PolicyNo', 'ADDRESS1', 'ADDRESS2', 'EFFECTIVEFROM', 'EFFECTIVETO', 'EXPIRYDATE', 'LASTPAYMENTDATE', 'STATUS', 'DESCRIPTION', 'SUMINSURED', 'NATUREOFBUSINESS', 'PREMIUMAMOUNT',
         'PremiumTerm', 'PaymentFrequency']]
df.rename(columns={"DESCRIPTION" : "TYPE"}, inplace = True)

In [ ]:
df.isna().sum()

PolicyNo                0
ADDRESS1            21850
ADDRESS2            21870
EFFECTIVEFROM       22072
EFFECTIVETO         22072
EXPIRYDATE              0
LASTPAYMENTDATE     21850
STATUS              21850
TYPE                    0
SUMINSURED              0
NATUREOFBUSINESS     1840
PREMIUMAMOUNT           0
PremiumTerm          5712
PaymentFrequency     5712
dtype: int64

In [ ]:
df.shape

(22392, 14)

In [ ]:
def condition(x):
  if x == 'CRITICAL ILLNESS':
    return 'CRITICAL ILLNESS COVER'
  elif x == 'PERSONAL ACCIDENT':
    return 'PERSONAL ACCIDENT COVER'
  else:
    return x


df['TYPE'] = df['TYPE'].apply(lambda x: condition(x))

In [ ]:
df.set_index('PolicyNo', inplace = True)
df.head()

In [ ]:
df.to_excel('/content/drive/MyDrive/4th_Year/DSC4996/Preprocessed_data.xlsx')